
<h1>Trees in Winnipeg</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tree ID</th>
      <th scope="col">Diameter</th>
      <th scope="col">Botanical Name</th>
      <th scope="col">Common Name</th>
      <th scope="col">Park</th>
      <th scope="col">Neighbourhood</th>
    </tr>
  </thead>
  <tbody>
    <% @trees.each do |tree|%>
      <tr>
        <th scope="row"><%= link_to tree.source_id, tree%></th>
        <td><%= tree.diameter%></td>
        <td><%= tree.category.botanical_name%></td>
        <td><%= tree.category.common_name%></td>
        <td><%= tree.park.park_name%></td>
        <td><%= tree.neighbourhood.neighbourhood_name%></td>
      </tr>
    <%end%>
  </tbody>
</table>